   
.main-box {
    margin-left: 250px;
  }
  
  .logo {
    background-color: grey;
    border: 10px;
    border-radius: 12px solid green;
    margin: 4px 6px;
    padding: 4px 6px;
    width: 120px;
    height: 80px;
    display: inline-block;
  }
  
  .first-text {
    text-align: center;
  }
  
  .header-content {
    background-color: grey;
    border: 10px;
    border-radius: 12px solid green;
    margin: 4px 6px;
    padding: 4px 6px;
    width: 800px;
    height: 80px;
    display: inline-block;
    
  }
  
  .second-text {
text-align: center;
  }
  
  .primary-navigation {
    background-color: grey;
    border: 10px;
    border-radius: 12px solid green;
    margin: 4px 6px;
    padding: 4px 6px;
    width: 948px;
    height: 46px;
  }
  .Photo-Area{
      background-color: grey;
      border:10px;
     border-radius: 10px black;
     margin:4px 4px auto;
     padding: 6px 6px;
     width: 300px;
     height: 70px;

  }
  .fourth-text{
      text-align: left;
  }